.info{
    background-color: lavender;
    border-style: dotted;
    border-collapse: collapse;
    width: 100%;
}
th,td{
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid black;

}
tr:nth-child(odd){
    background-color: beige;

}
tr:hover{
    background-color: gray;

}